{% extends "base.html" %} 
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/login.css' %}?v=0.2">
{% endblock stylesheets %}

{% block content %}
    <div class="d-flex justify-content-center form-container">
      
      <form method="POST" class="form-control login-form">
        {% csrf_token %}

         {% if form.non_field_errors %}
            <div class="alert alert-danger">{{form.non_field_errors}}</div>
        {% endif %}
        
        <div class="mb-3">

          {% for field in form %}

              <div>{{field.label_tag}}</div>

              <div class="login-input" id="{{field.name}}">
                {{field}}
              </div>
              
              {{field.errors}}

          {% endfor %}

          <button type="submit" class="btn btn-auth-form mt-3">Login</button>
        </div>
      </form>
    </div>
{% endblock content %}

{% block javascripts %}
    {{block.super}}
    <script src="{% static "js/login.js" %}"></script>
{% endblock javascripts %}
