.header-home {
  background: #1c1c1c;
  margin-top: 1%;
  height: 300px;
  display: flex;
  border-radius: 20px;
  border-bottom-left-radius: 100px;
}
.header-home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  width: 100%;
  font-size: 25px;
  font-weight: 1000;
  text-shadow: 4px 2px 10px #5b5b5b, 9px 8px 0 rgba(0, 0, 0, 0.15),
    -4px -2px 10px #5b5b5b;
  font-family: "Pacifico", cursive;
}
.app-name {
  position: absolute;
  margin: 30px;
  color: black;
  background-color: 
  rgba(91, 91, 91, 0.5);
  border-radius: 5px;
  display: none;
}
.my-card {
  margin: 3%;
  color: white;
  background-color: #1c1c1c;
}
