.form-container {
  padding: 10%;
}
.login-form {
  width: 80%;
  background: #313131;
  color: white;
  border: none;
  border-left: 1px solid #1c1c1c;
  border-right: 1px solid #1c1c1c;
  border-radius: 0;
}
input {
  background-color: #313131 !important;
  color: white !important;
  border-right: none !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.login-input {
  display: flex;
}
.auth-icon {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  border-bottom-right-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  min-width: 40px;
}
